@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply font-[Helvetica]
  }

  li{
    @apply px-4;
    @apply cursor-pointer
  }
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    /* Same as dark bg */
    /* background: #242424; */
    background: #363636;
    
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #DABB54;
    border-radius: 5px;
    cursor: pointer;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8B7221;
    cursor: pointer;
}





