@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply font-[Helvetica]
  }

  li{
    @apply px-4;
    @apply cursor-pointer
  }
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
 /*  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out; */

}

.content-div-dark{
  height: 450px;
}

.content-div:hover{

  /* background-image: linear-gradient(
    to right,
    rgba( 112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  )!important;  */
  
  background-image: linear-gradient(
    to top,
    #8B7221,
    #8B7221
  )!important;

  /* background-size: 200%; */
  

  


  
 
  
  
}




